@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 100px;
  background-image: url(images/bg.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: auto;
  background-position: center;
  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
  gap: 10px;
}

.panel {
  block-size: auto 100%;
  width: 100px;
  height: 400px;
  background-position: center;
  background-size: auto 100%;
  border-radius: 50px;
  cursor: pointer;
  transition: width 0.7s ease-in;
  position: relative;
}

.panel.active {
  width: 400px;
}

.panel h3 {
  text-wrap: nowrap;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%) scale(0.4);
  transition: all 0.5s ease-out;
  opacity: 0;
  font-size: 24px;
  background-color: rgba(128, 128, 128, 0.651);
  padding: 10px;
  border-radius: 40px;
}

.panel.active h3 {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

@media (max-width: 600px) {
  .panel:nth-child(5),
  .panel:nth-child(6) {
    display: none;
  }

  h1 {
    font-size: 50px;
  }
}
